NODE_ENV = DEVELOPMENT

DB_HOST = db-postgresql-sgp1-82643-do-user-6216455-0.c.db.ondigitalocean.com
DB_PORT = 25060
DB_USER = doadmin
DB_PASSWORD = AVNS_kqzx6AH2rY5dOFtuMVS
DB_DATABASE = defaultdb


APP_PORT = 6969
JWT_SECRET_KEY = make-sure-this-secret-key-is-very-secure-in-prod

ORIGIN = http://127.0.0.1:3000